


.obfuscate-email {
    /* simple e-mail obfuscation */
    direction: rtl;
    unicode-bidi: bidi-override;
}
article img {
    margin: 2em 0;
}
table.sourceCode, tr.sourceCode, td.lineNumbers, td.sourceCode {
    margin: 0; padding: 0; vertical-align: baseline; border: none; }
table.sourceCode { width: 100%; }
td.lineNumbers { text-align: right; padding-right: 4px; padding-left: 4px; color: #aaaaaa; border-right: 1px solid #aaaaaa; }
td.sourceCode { padding-left: 5px; }
code > span.kw { color: #007020; font-weight: bold; }
code > span.dt { color: #902000; }
code > span.dv { color: #40a070; }
code > span.bn { color: #40a070; }
code > span.fl { color: #40a070; }
code > span.ch { color: #4070a0; }
code > span.st { color: #4070a0; }
code > span.co { color: #60a0b0; font-style: italic; }
code > span.ot { color: #007020; }
code > span.al { color: #ff0000; font-weight: bold; }
code > span.fu { color: #06287e; }
code > span.er { color: #ff0000; font-weight: bold; }

pre.log {
    overflow: auto;
    word-wrap: normal;
    white-space: pre;
}

.note {
    padding: 12px;
    line-height: 24px;
    margin-bottom: 24px;
    background: #e7f2fa;
    
}

.note-success {
    background: #dbfaf4;
}


.small-2 {
    width: 16.6%;
}

ul.test-results {
    margin: 3px 0 20px;
    padding: 0;
    list-style-type: none;
}

ul.test-results li {
    display: inline;
}

ul.test-results li:before {
    display: none; 
}

.change-improvement {
    font-weight: bold;
    color: #27ae60;
}

.change-regression {
    font-weight: bold;
    color: #e74c3c;
}

.btn-success {
    background-color: #27ae60 !important; 
}

.btn-success:hover {
    background-color: #295 !important; 
}

.btn-danger {
    background-color: #e74c3c !important; 
}

.btn-danger:hover {
    background-color: #ea6153 !important; 
}

.btn-warning {
    background-color: #e67e22 !important; 
}

.btn-warning:hover {
    background-color: #e98b39 !important; 
}

.btn-blocked {
    background-color:  #aaaaaa;
}

.btn-small {
    padding: 2px 4px 2px !important;
    line-height: 1.2 !important;
    font-size: 0.7rem !important;
    letter-spacing: 0px !important;
}

.build-history .btn {
    display: block;
}

.build-history th {
    font-size: 0.7em;
}

th.build-history-gap  {
    background: url("/assets/img/gap.png") repeat-y;
    width: 2em;
}

input.search {
    width: 100%;
    border-radius: 50px;
    padding: 6px 12px;
    border-color: #979797;
    color: #4a4a4a; }

#search-results ul {
    margin: 0;
    padding: 0;
    list-style: none none;
}

#search-results .search li {
    margin-bottom: 24px;
    border-bottom: solid 1px #e1e4e5;
    padding-bottom: 24px; 
}

#search-results .search li:first-child {
    border-top: solid 1px #e1e4e5;
    padding-top: 24px; }

#search-results .search li a {
    font-size: 120%;
    margin-bottom: 12px;
    display: inline-block;
    box-shadow: 0 1px -2px 0px rgba(0, 0, 0, 0.3); }

#search-results .context {
    color: gray;
    font-size: 90%; 
}

.inset {
.   box-shadow: 0 1px 2px 0px rgba(0, 0, 0, 0.3);
    background: #f6f5f5;
}

table.source-listing {
    border-collapse: collapse;
    border-spacing: 0;
}

div.source-wrapper {
    border: 1px solid #eee;
    border-radius: 5px;
    margin-top: 0.5em;
    margin-bottom: 1em;
    overflow-x: auto;
    overflow-y: hidden;
}

table.source-listing tr {
    padding: 0;
    background: transparent !important;
}

td.ln {
    width: 1%;
    min-width: 50px;
    white-space: nowrap;
    font-family: Monaco, Menlo, Consolas,"Courier New",monospace;
    font-size: 12px;
    line-height: 15px;
    color: rgba(0,0,0,0.3);
    vertical-align: top;
    text-align: right;
    border: solid #eee;
    border-width: 0 1px 0 0;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding: 0 10px;
}

td.line {
    font-family: Monaco, Menlo, Consolas,"Courier New",monospace;
    font-size: 12px;
    line-height: 15px;
    color: #333;
    white-space: pre;
    overflow: visible;
    word-wrap: normal;
    position: relative;
    padding: 0 10px;
    box-sizing: border-box;
}

.lang-bar {
    width: 100%;
}

.lang-bar div {
    display: inline-block;
    overflow: hidden;
}

.bar-r {
    background-color: #27ae60;
}

.bar-c {
    background-color: #e67e22;
}

.bar-cpp {
    background-color: #e98b39;
}

.bar-fortran {
    background-color: #e74c3c;
}

.log-failure {
    background-color: #F6B9BB !important;
}
.log-passed {
    background-color: #cff6cc !important;
}

th.gap {
    background: url("/assets/img/gap30-inverse2.png") center top repeat-y;
    width: 2em;
    cursor: col-resize;
}

.build-history-container {
    overflow-x: auto;
    overflow-y: hidden;
}


div.log {
    padding: 15px;
    line-height: 20px;
    vertical-align: top;

    background: #f6f5f5;
    box-shadow: inset 0 0 2px 1px rgba(0, 0, 0, 0.1);
    margin-top: 0;
    margin-bottom: 20px;

    overflow: auto;
}

div.log div.line {
    overflow: visible;
    font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
    font-size: 12px;
    color: #24292e;
    word-wrap: normal;
    white-space: pre;
}

div.log a {
    color: #24292e;
}

div.log a:hover {
    color: #24292e;
}


.floater {
    position: fixed;
    left: 10px;
    bottom: 10px;
}